:root {
    --main-color: #009f7f;
    --hover-button: rgb(1, 147, 118);
    --header-height: 80px;
    --text-color: #4b5563;
    --button-background-color: #f3f4f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.link {
    text-decoration: none;
}
.float__button {
    .ant-float-btn-default .ant-float-btn-body {
        background-color: #009f7f;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ant-float-btn-default .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
        margin-top: 3px;
		color: rgb(244, 240, 240)
    }
}
