:root {
    --main-color: #009f7f;
    --header-height: 80px;
    --text-color: #4b5563;
    --button-background-color: #f3f4f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.link {
    text-decoration: none;
}
