.productItem__container {
    position: relative;
    min-height: 300px;
    .productItem__button {
        background-color: var(--button-background-color);

        &:hover {
            transition: all 0.5s;
            background-color: var(--main-color);
            color: white;
        }
        &:hover ~ .productItem__button__icon {
            transition: all 0.5s;
            background-color: var(--main-color);
            color: white;
        }
    }
    .product__percentage {
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid var(--button-background-color);
        background-color: var(--main-color);
        color: white;
        width: 2vw;
        margin: auto;
        line-height: 1rem;
        font-size: 1rem;
        padding: 8px 12px 8px 12px;
        text-align: center;
        width: auto;
        border-radius: 18px;
    }
}
