.shopping__list {
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        align-items: center;
        padding: 6px 10px;
    }

    .ant-collapse
        > .ant-collapse-item
        > .ant-collapse-header
        .ant-collapse-header-text {
        font-size: 16px;
    }
    [class^='ant-checkbox'] [class*=' ant-checkbox'] {
        display: flex;
        padding: 2px;
		justify-content: start;
    }
    .ant-checkbox .ant-checkbox-input {
        display: inline-block;
    }
    .ant-checkbox .ant-checkbox-inner {
        display: inline-block;
    }
}

@keyframes RightIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
.slidein {
    transition: all;
    animation: 0.3s linear RightIn;
}
