.subItem__container {
    animation: appear 0.8s;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-30%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.sidebarWidget {
    animation: 0.3s ease-in slide forwards;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
.profileWidget {
    animation: 0.3s ease-in slideFromRight forwards;
}

@keyframes slideFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
