.searchItem__icon {
    --search-height: 40px;
    height: var(--search-height);

    input {
        font-size: 1.2rem;
        background-color: white;
        line-height: 1.6rem;
        height: 100%;
        font-weight: 400;
        outline: none;
        border: 1.5px solid gray;
		border-radius: 18px 0 0px 18px;
        border-right: none;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.7);
    }

    .search-btn {
        font-size: 1.2rem !important;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        height: var(--search-height);
        font-size: 1.8rem;
        background: white;
        color: rgba(22, 24, 35, 0.34);
        border: 1.5px solid gray;
        border-left: none;

        &:hover {
            cursor: pointer;
            background-color: var(--main-color);
            color: white !important;
        }

        &:active {
            background-color: var(--main-color);
            color: white;
        }
    }
}
